<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/jQuery/jquery-3.2.1.min.js"></script><!--引入jQuery-->
    <script src="js/index.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/platform.css">
    <title>Document</title>
</head>
<body id="body">
        <!--个人资料-->
        <div class="person_msg">
            <!-- <div class="person_msg_a"><strong>&nbsp;&nbsp;&nbsp;熊思敏</strong></div> -->
            <a href="change_password.html"><div class="person_msg_b"><img src="img/icon10.png">&nbsp;修改密码</div></a>
            <a href="login.html"><div class="person_msg_b"><img src="img/icon2.png">&nbsp;退出</div></a>
        </div>
        <div id="main">
        <!-- 左侧菜单 -->
        <div id="left">
            <br>
            <br>
            <div><img src="img/icon1.jpg">&nbsp;&nbsp;<strong>已订阅</strong></div>
            <a href="index.html"><div id="site1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UC震惊网</div></a>
            <a href="index.html"><div id="site2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Steam官网</div></a>
            <a href="index.html"><div id="site3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;七龙珠咨询</div></a>
            <a href="index.html"><div id="site4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;最美小姐姐</div></a>
            <br>
            <br>
            <a href="manage_site.html"><div id="goManagePage"><img src="img/icon7.jpg">&nbsp;&nbsp;<strong>管理订阅</strong></div></a>
            <br>
            <br>
            <a href="manage_article.html"><div id="goCollect"><img src="img/icon7.jpg">&nbsp;&nbsp;<strong>收藏管理</strong></div></a>
            
        </div>
        <!-- 右侧 -->
        <div id="right">
                <div id="swith_one"><!-- 左侧菜单折叠展开按钮 -->
                    <img src="img/swith_one.jpg">
                </div>
                <div id="head">
                      <input type="text"><button></button><!-- 搜索框-->
                      <div id="head_sculpture"><strng>xiongsimin</strng></div><!-- 头像    改为用户名-->
                    </div>
                <div id="cut_line"></div>
                <div id="right_body">
                    <div id="platform">
                        <div id="all_head"><div class="a"><strong>UC震惊网</strong></div></div><!--<div class="b">刷新</div>-->
                        <br>
                        <div id="article">
                            <div>
                                <div class="title"><strong>震惊！平日里温润如玉的抄抄居然做出了这样的事！</strong><img class="collect" src="img/icon9.JPG"></div>
                                <div class="author">星田雨&nbsp;&nbsp;刚刚</div>
                                <div class="short_content">平日里温润如玉的抄抄居然....</div>
                            </div>
                            <div>
                                    <div class="title"><strong>震惊！平日里温润如玉的抄抄居然做出了这样的事！</strong><img class="collect" src="img/icon9.JPG"></div>
                                    <div class="author">星田雨&nbsp;&nbsp;刚刚</div>
                                    <div class="short_content">平日里温润如玉的抄抄居然....</div>
                            </div>
                            <div>
                                    <div class="title"><strong>震惊！平日里温润如玉的抄抄居然做出了这样的事！</strong><img class="collect" src="img/icon9.JPG"></div>
                                    <div class="author">星田雨&nbsp;&nbsp;刚刚</div>
                                    <div class="short_content">平日里温润如玉的抄抄居然....</div>
                            </div>
                        </div>
                        
                        </div>
                </div>
            
        </div>
        </div>
</body>
</html>