<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/jQuery/jquery-3.2.1.min.js"></script><!--引入jQuery-->
    <link rel="stylesheet" href="css/login.css">
    <script src="js/login.js"></script>
    <link rel="stylesheet" href="css/sign_up.css">
    <title>Document</title>
    <style>
    #change{
        width:400px;
        height:40px;
        border:1px #E9D9D9 solid;
        background-color: #1DA031;
        line-height: 40px;
    }
    </style>
</head>
<body>
    <div class="back"></div>
    <div class="login_div">
    <form name="change_password" id="change_password" action="#" method="post">
    
        <div><input type="text" id="old" placeholder="请输入当前密码"></div>
        <br>
        <br>
        <div><input type="password" id="new" placeholder="新密码"></div>
        <br>
        <br>
    
        <span><div id="change">保存</div></span>
    </form>
    </div>
</body>
</html>