<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/jQuery/jquery-3.2.1.min.js"></script>
    <!--引入jQuery-->
    <link rel="stylesheet" href="css/login.css">
    <script src="js/login.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="back"></div>
    <div class="login_div">
        <form name="loginFrom" id="loginFrom" method="post">

            <div>
                <input type="text" id="account" name="username" placeholder="请输入账号">
            </div>
            <br>
            <br>
            <div>
                <input type="password" id="password" name="password" placeholder="密码">
            </div>
            <br>
            <br>

            <span>
                <div id="goSign">注册</div>
                <div id="login">登陆</div>
            </span>
        </form>
    </div>
</body>

</html>